body {
  background-color: #333;
  color: #fff;
  font-family: Arial, sans-serif;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  padding: 0;
}

#randomChordDisplay {
  background-color: #555;
  color: white;
  padding: 20px;
  text-align: center;
  font-size: 24px;
  border-radius: 8px;
  width: 600px;
}

#timerContainer {
  color: white;
  padding: 20px;
  text-align: center;
  font-size: 24px;
  display: flex;
  justify-content: row;
}

#timerContainer > * {
  margin: 30px 30px;
  padding: 20px;
  text-align: left;
  font-size: 24px;
}

#timer {
  background-color: #444;
  color: white;
  border-color: #222;
  border-style: solid;
  -webkit-appearance: none;
}

#nextChordButton {
  background-color: #444;
  color: white;
  border-style: solid;
  border-color: #222;
}

.flash {
  transition: background-color 0.2s ease, color 0.2s ease !important;
  background-color: rgb(186, 186, 186) !important;
  color: black !important;
}
